@use 'variables';
@use 'mixins';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: variables.$font-family;
}

body {
    /* padding: 2.5rem 2rem; */
    width: 100%;
    background: rgb(31,55,86);
    background: linear-gradient(180deg, rgba(31,55,86,1) 0%, rgba(20,21,57,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 100vh;   
}

/* Header */

header {
    margin: 1.5rem 2rem 0 2rem;
    padding: 1rem 1rem 1rem 2rem;
    border: 3px solid variables.$header-outline;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    width: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3rem;
    color: white;
}

.header-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    width: 6.5rem;
    background: white;
    border-radius: 8px;
}

.score__title {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: variables.$score-text;
}

.score__text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    color: variables.$dark-text;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    row-gap: 2rem;
    width: 100%;
}

.main__first-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main__second-row {
    display: flex;
    justify-content: center;
}

.button-hand {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 70px;
    border: none;
    z-index: 5;
}

.button-paper {
    @include mixins.button-bg;
}

.button-scissors {
    @include mixins.button-bg($main-color: variables.$scissors-color)
}

.button-rock {
    @include mixins.button-bg($main-color: variables.$rock-color)
}

.button-bg {
    position: absolute;
    display: grid;
    place-items: center;
    width: 6rem;
    height: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 70px;
    overflow: hidden;
    background: variables.$inner-shadow;
    z-index: 3;
    box-shadow: inset 0 7px 0 0 grey;
}

.button-empty .button-bg {
    background: #00000040;
    box-shadow: none;

   img {
    display: none;
   }
}

#empty {
    border-radius: 70px;
    width: 9rem;
    height: 9rem;
    background-color: transparent;
}

.button-hand img {
    position: relative;
    z-index: 10;
}

.triangle {
    position: absolute;
    -webkit-text-stroke: 15px black;
    opacity: .2;
    color: transparent;
    font-size: 250px;
    align-self: center;
    scale: -1;
    z-index: -1;
}

.rules {
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem 2.5rem;
    width: 10rem;

    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: white;

    border: 1px solid variables.$header-outline;
    border-radius: 8px;
    background: transparent;

    transition: .3s;

    &:hover {
        cursor: pointer;
        background: variables.$header-outline;
        color: black;
    }
}

footer {
    width: 100%;
    padding: 1rem;
    border-top: 2px solid variables.$header-outline;
    text-align: center;
    background: transparent;
    color: variables.$header-outline;
    font-size: 1.2rem;

    a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        filter: brightness(65%);
    }
}

// Result page

.result-container {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    row-gap: 4rem;
}

.hands-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}

.result-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.result-choice-text {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.final-result-container {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.final-result-container[state="empty"] {
    visibility: hidden;
}

.result-text {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.play-again-button {
    border-radius: 10px;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
    color: variables.$dark-text;
    border: 1px solid variables.$header-outline;
    transition: 0.3s;
    
    &:hover {
        cursor: pointer;
        background: transparent;
        color: white;
    }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}

.button-hand .spinner-box {
    display: none;
}

.button-empty .spinner-box{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 20;
}

.pulse-container {
    display: flex;
    width: 40%;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: variables.$score-text;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

// Modal
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

     //Animation
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.4s ease;
    pointer-events: none;   

}

.modal-overlay.show {
    opacity: 1;
    pointer-events: all;
}

.modal-overlay.hidden {
    opacity: 0;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "title"
        "main"
        "close";
    justify-content: space-around;
    background: white;
    z-index: 40;
    text-align: center;
}


.main__game {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 2rem;
    filter: grayscale(0.8);
    opacity: 0.5;
    grid-area: main;
}

.main__game .main__first-row {
    column-gap: 1rem;
}

.main__arrow-texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.modal__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    align-self: center;
    letter-spacing: 0.1rem;
}

.button-rules.button-bg {
    box-shadow: none;
    width: 6rem;
    height:6rem;
}

.button-rules.button-hand {
    width: 7rem;
    height: 7rem;
}

.button-rules {
    background-color: variables.$paper-color;
}

.close-button {
    grid-area: close;
    align-self: center;
    color: variables.$paper-color;
    filter: grayscale(0.8);
    background: transparent;
    border: none;
    width: auto;

    &:hover {
        cursor: pointer;
    }
}

.x-icon {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.8;
}

.arrow-text {
  text-transform: uppercase;
  font-weight: 600;
}

.arrow-left {
    position: relative;

    &::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: -0.2rem;
    height: 0.8rem;
    width: 0.8rem;
    border-style: solid;
    border-color: black;
    border-width: 0px 4px 4px 0px;
    transform: rotate(140deg);
    transition: border-width 150ms ease-in-out;
    }

  &::after {
    content: "";
    position: absolute;
    top: 2.4rem;
    right: -0.4rem;
    border-style: solid;
    border-color: black;
    border-width: 4px 0px 0px 0px;
    width: 3rem;
    transform: rotate(180deg);
  }
}

.arrow-down-right {
    position: relative;

    &::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 5.4rem;
    height: 0.8rem;
    width: 0.8rem;
    border-style: solid;
    border-color: black;
    border-width: 0px 4px 4px 0px;
    transform: rotate(10deg);
    transition: border-width 150ms ease-in-out;
    }

  &::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 3.8rem;
    border-style: solid;
    border-color: black;
    border-width: 4px 0px 0px 0px;
    width: 3rem;
    transform: rotate(55deg);
  }
}

.arrow-up-right {
    position: relative;

    &::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    right: 3.9rem;
    height: 0.8rem;
    width: 0.8rem;
    border-style: solid;
    border-color: black;
    border-width: 0px 4px 4px 0px;
    transform: rotate(-100deg);
    transition: border-width 150ms ease-in-out;
    }

  &::after {
    content: "";
    position: absolute;
    top: 0.8rem;
    left: -4rem;
    border-style: solid;
    border-color: black;
    border-width: 4px 0px 0px 0px;
    width: 3rem;
    transform: rotate(-55deg);
  }
}

.hand-rules {
    filter: invert(20%) sepia(98%) saturate(1811%) hue-rotate(221deg) brightness(97%) contrast(400%);
}

@media screen and (min-width: 700px) {
    #root {
        align-items: center;
        position: relative;
    }
    
    main {
        max-width: 500px;
        row-gap: 6rem;
    }

    header {
        max-width: 700px;
        width: 100%;
    }

    button.button-hand {
        
        &:hover {
            cursor: pointer;
        }
    }

    .triangle {
    font-size: 300px;
}

    .rules {
        position: absolute;
        bottom: 6rem;
        right: 0;
        left: unset;
    }

    // Modal

    .modal-overlay {
        background-color: rgba(0, 0, 0, 0.6); /* dark translucent background */
    }

    .modal-container {
        padding: 7rem 3rem 2.5rem 3rem;
        width: auto;
        height: auto;
        display: flex;
        row-gap: 2rem;
        border-radius: 20px;

        //Animation
        opacity: 0;
        transition: all 0.3s ease;
    }

    .modal-overlay.show {
        opacity: 1;
        pointer-events: all;
    }

    .modal-overlay, .modal-container {
        .show {
            opacity: 1;
        }

        .hidden {
            opacity: 0;
        }
    }

    .main__game {
        max-width: 400px;
    }

    .modal__title {
        position: absolute;
        top: 2rem;
        left: 3rem;
    }

    .close-button {
        position: absolute;
        top: 2.5rem;
        right: 3rem;
    }
}

// Animations

@keyframes fadeIn {
    99% {
        visiblity: hidden;
    }
    100% {
        visibility: visible;
    }
}